.sky{
    background-color: skyblue;
    height: 33%;
    width: 100%;
}
.grass{
    background-color: green;
    height: 33%;
    width: 100%;

}
.road{
    background-color: gray;
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
.road img