body{
    background-color: #F5F5F5;
    ;
}
.chat-header{
    border: 1px solid black;
    width:300px;
    height: 70px;
    border-bottom: none;
font-size: 15px;
    justify-content: center;
    background-color: #3047EC;
}
.icon{
    margin-left: -70px;
    margin-top:50px;
}
.picture{
width:40px;
height:40px;
border-radius: 50px;
margin-left: 50px;
margin-top: 20px;
float:left;


}
.name{
font-family: 'Courier New', Courier, monospace;
padding-left: 100px;
margin-top: -30px;

}
.active{
    margin-left: 100px;
    margin-top: -25px;
}
.containertwo{
    border: 1px solid black;
    width:300px;
    height: 430px;
    
}
.help{
    margin-left: 10px;
margin-bottom: 10px;
background: #ffffffd0;


border-radius: 15px;
}

.sorry{
    background: #3047EC;
float: right;
margin-bottom: 10px;
border-radius: 15px;
margin-right: 20px;


}


.talk{
margin-left: 30px;
margin-bottom: 10px;
border-radius: 15px;
background: #ffffffd0;



}
.hi{
    height: 60px;
    width: 150px;
    margin-left: 20px;
    border-radius: 15px;
}



.problem{
    background: #3047EC;
    width: 220px;
    height: 40px;
    border-radius: 15px;
    margin-right: 20px;
    
    float: right;
    margin-bottom: 10px;
}
.oh{
    background: #3047EC;
    border-radius: 15px;

margin-left: 100px;
}
.now{
    font-size: 10px;
    margin-left: 20px;
    



}
.seen{
    font-size: 10px;
    padding: 30px;
    margin-left: 90px;


}
.chatBox{
    display:none;
    margin-left: 500px;
    margin-bottom: 90px;
}
.reply{
    margin-left: 20px;
    float: left;
    
    

}
.logos{
    margin-left: 100px;
    margin-bottom: 30px;    
}
.button-down{
    margin-right: 200px;
}